* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    width: 95%;
    height: 600px;
    border: #980101 2px solid;
    background-color: #ffffff;
}

.horas {
    width: 13%;
    height: 600px;
    border-right: #980101 1px solid;
    display: flex;
    flex-direction: column;
}

.hora {
    flex-grow: 1;
    border-bottom: #980101 1px solid;
    text-align: center;
    padding: 10px 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.hora:last-child {
    border-bottom: none;
}

.dias {
    display: flex;
    flex-direction: row;
    width: 87%;
    height: 600px;
}

.dia {
    flex-grow: 1;
    border-right: #980101 1px solid;
    display: flex;
    flex-direction: column;
}

.dia:last-child {
    border-right: none;
}

.encabezado {
    height: 50px;
    border-bottom: #980101 1px solid;
    text-align: center;
    padding: 14px 8px;
    font-size: 13px;
    font-weight: 600;
    color: #333;
    background-color: #ffffff;
}

.programacion {
    margin: 6px;
    padding: 10px 8px;
    font-size: 11px;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 260px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgb(101, 95, 95);
}

.programacion strong {
    font-size: 17px;
    text-align: center;
    display: block;
}

.programacion p {
    font-size: 11px;
    line-height: 1.4;
    text-align: center;
    color: #222;
}

/* Color por cada día */
.programacion.lunes {
    background-color: #87ceeb;
}

.programacion.martes {
    background-color: #ffb347;
}

.programacion.miercoles {
    background-color: #da8ee7;
}

.programacion.jueves {
    background-color: #ff8080;
}

.programacion.viernes {
    background-color: #98d4a3;
}

.programacion.sabado {
    background-color: #f4d03f;
}

.ingles {
    margin: 6px;
    padding: 10px 8px;
    background-color: #f9a8d4;
    font-size: 11px;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgb(101, 95, 95);
}

.ingles strong {
    font-size: 17px;
    text-align: center;
    display: block;
}

.ingles p {
    font-size: 11px;
    line-height: 1.4;
    text-align: center;
    color: #222;
}

.programacion img,
.ingles img {
    width: 120px;
    height: 70px;
    object-fit: contain;
    display: block;
    margin: 4px auto 0;
}